@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
}

.hero-zoom {
  animation: heroZoom 22s ease-in-out infinite alternate;
}

@keyframes heroZoom {
  from {
    transform: scale(1.02);
  }

  to {
    transform: scale(1.10);
  }
}